@{
    ViewData["Title"] = "Home Page";
}

<style>
    .member-box {
        border: 1px solid #ccc; /* Border color */
        padding: 20px; /* Padding around the content */
        background-color: #f9f9f9; /* Background color */
        border-radius: 10px;
    }

</style>

<!-- Member Section -->
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <h1 class="text-center">Our Team</h1>
        <ul class="list-unstyled d-flex justify-content-around">
            <!-- Member 1 -->
            <li class="text-center">
                <div class="member-box">
                    <img src="~/content/images/fifa.jpg" alt="Member 1" class="img-fluid rounded-circle" style="margin-right: 10px; width: 150px; height: 150px;">
                    <p>Member 1</p>
                    <p>Sanpitch Phuvapaisankit</p>
                    <p>6421650791 820 14</p>
                    <div class="fa-3x">
                        <i class="fa-solid fa-heart fa-beat"></i>
                        <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 0.5s;"></i>
                        <i class="fa-solid fa-heart fa-beat" style="--fa-animation-duration: 2s;"></i>
                    </div>
                </div>
            </li>
            <!-- Member 2 -->
            <li class="text-center">
                <div class="member-box">
                    <img src="~/content/images/man.jpg" alt="Member 2" class="img-fluid rounded-circle" style="margin-right: 10px; width: 150px; height: 150px;">
                    <p>Member 2</p>
                    <p>Tanapong Rakdee </p>
                    <p>6421650791 820 14</p>
                    <div class="fa-3x">
                        <i class="fa-solid fa-thumbs-up fa-beat"></i>
                        <i class="fa-solid fa-thumbs-up fa-beat" style="--fa-animation-duration: 0.5s;"></i>
                        <i class="fa-solid fa-thumbs-up fa-beat" style="--fa-animation-duration: 2s;"></i>
                    </div>
                </div>
            </li>
            <!-- Member 3 -->
            <li class="text-center">
                <div class="member-box">
                    <img src="~/content/images/pug.jpg" alt="Member 3" class="img-fluid rounded-circle" style="margin-right: 10px; width: 150px; height: 150px;">
                    <p>Member 3</p>
                    <p>Polamet Wanree</p>
                    <p>6421650791 820 14</p>
                    <div class="fa-3x">
                        <i class="fa-solid fa fa-star fa-beat"></i>
                        <i class="fa-solid fa fa-star fa-beat" style="--fa-animation-duration: 0.5s;"></i>
                        <i class="fa-solid fa fa-star fa-beat" style="--fa-animation-duration: 2s;"></i>
                    </div>
                </div>
            </li>
            <!-- Add more members as needed -->
        </ul>
    </div>
</div>
